.head{
  color: white;
}

.App {
  text-align: center;
  width: 100%;
  align-content: center;
  margin-left: auto;
}
.totalNumber{
  background: lightgray;
  width: 15%;
  margin: auto;
  font-size: 136px;
}
.a{
  color: white;
 background-color:green;
 width: 5%;
 height: 30px;
 font-size: 20px;

}
.b{
  color: white;
  background-color:orange;
  width: 5%;
  height: 30px;
  font-size: 20px;

}
.c{
  color: white;
  background-color:red;
  width: 5%;
  height: 30px;
  font-size: 20px;
}
h1{
  width: 400px;
  margin-left: 560px;
}